<template>
  <div>
    <div href="#" class="frame">
      <input id="drag-file" type="file" name="">
      <img v-if="!isLoadFlie" v-bind:src="staticPath+'sticker.png'">
      <img v-if="isLoadFlie" v-bind:src="staticPath+'sticker2.png'">
      <span v-if="!isLoadFlie">Drop CSV here</span>
      <span v-if="isLoadFlie">Preparing files...</span>
    </div>
  </div>
</template>

<script>
  const csv=require('csvtojson');
  const electron = require('electron');
  const BrowserWindow = electron.remote.BrowserWindow;
  const staticPath = window.__static?window.__static+'/':'/static/';
  // const staticPath = '/static/';
  import contentGenerator from '../contentGenerator';
  export default {
    name: 'landing-page',
    data(){
      return{
        isLoadFlie:false,
        staticPath
      }
    },
    mounted(){
      document.getElementById('drag-file').addEventListener('change', (e)=>{
        e.preventDefault();
        e.stopPropagation();
        this.GenerateJSON(e.target.files[0].path)
      });
    },
    methods: {
      GenerateJSON(path){
        csv()
        .fromFile(path)
        .then((jsonObj)=>{
            this. splitPagers(jsonObj);
        })
        .catch((e)=>{
            console.log('Faild!');
        })
      },
      splitPagers(objArray){
        let PageList = []
        for(let obj of objArray){
          let rawData = contentGenerator(obj).split('#');
          let pages = this.FillBreak(rawData,obj);
          PageList = PageList.concat(pages);
        }
        this.sentPrint(PageList);
        console.log(PageList);
      },
      FillBreak(rawData,obj){
        let combineArray = [];
        let pages = [];
        for(let r of rawData){
          let p = r.split('');
          combineArray = combineArray.concat(p);
          for(let i = 0; i<combineArray.length%20; i++){
            combineArray.push('');
          }
        }
        for(let i = 0; i<Math.ceil(combineArray.length/200); i++){
          pages.push({
            content:combineArray.slice(i*200,(i+1)*200),obj,
          });
        }
        let rest = 200 - pages[pages.length-1].content.length;
        for(let i = 0;  i < rest;i++){
          pages[pages.length-1].content.push('');
        }
        return pages;
      },
      sentPrint(obj){
        localStorage.setItem('printData',JSON.stringify(obj));
        this.isLoadFlie = true;
        let win = new BrowserWindow({width:600,height:600,show:false});
        win.loadURL(location.origin+location.pathname+'#/PrintPage');
        setTimeout(()=>{win.webContents.print();},2000);
        setTimeout(()=>{this.isLoadFlie = false;},10000);
        setTimeout(()=>{win.destroy();},100000);
      },
    }
  }
</script>

<style>
  .frame{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
  }
  .frame input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

</style>
