<template>
  <div>
    <div class="page" v-for="page of printData">
      <div class="container">
        <h1>郵局存證信函用紙</h1>
        <div class="mainFlex">
          <div class="remark">
            副 正<br>
            本
          </div>
          <div class="mainFrame">
            <div class="header">
              <div>
                <h4>郵  局</h4>
                <h4>存證信函第 號</h4>
                <h4></h4>
              </div>
              <div>
                <div>〈寄件人如為機關、團體、學校、公司、商號請加蓋單位圖章及法定代理人簽名或蓋章〉</div>
                <ul>
                  <li><span>一、</span><span>寄件人</span></li>
                  <li>
                    姓名: 諦諾科技股份有限公司 代表人：劉晉良  <span class="stamp" style="float: none;margin-left: 10px;">印</span> <br>
                    詳細地址：臺北市南港區忠孝東路6段21號8樓之2
                  </li>
                </ul>
                <ul>
                  <li><span>二、</span><span>收件人</span></li>
                  <li>
                    姓名：{{page.obj.client_name}} <br>
                    詳細地址：{{page.obj.address}}
                  </li>
                </ul>
                <ul>
                  <li><span>三、</span><span>副　本<br>收件人</span></li>
                  <li>
                    姓名： <br>
                    詳細地址：
                  </li>
                </ul>
              </div>
            </div>
            <div class="gridBlock">
              <div class="number">
                <span class="splash">
                  <img v-bind:src="staticPath+'/splash.png'">
                </span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
                <span>11</span>
                <span>12</span>
                <span>13</span>
                <span>14</span>
                <span>15</span>
                <span>16</span>
                <span>17</span>
                <span>18</span>
                <span>19</span>
                <span>20</span>
              </div>
              <div class="content">
                <div class="side">
                  <span>一</span>
                  <span>二</span>
                  <span>三</span>
                  <span>四</span>
                  <span>五</span>
                  <span>六</span>
                  <span>七</span>
                  <span>八</span>
                  <span>九</span>
                  <span>十</span>
                </div>
                <div class="grid">
                  <span v-for="char of page.content">{{char}}</span>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="priceBlock">
                <div class="flexTop">
                  <div>本存證信函共&emsp;&emsp;頁，</div>
                  <ul>
                    <li>正本&emsp;&emsp;&emsp;份，存證費&emsp;&emsp;&emsp;元，</li>
                    <li>副本&emsp;&emsp;&emsp;份，存證費&emsp;&emsp;&emsp;元，</li>
                    <li>附件&emsp;&emsp;&emsp;張，存證費&emsp;&emsp;&emsp;元，</li>
                    <li class="marginBack">加具正本&emsp;&emsp;&emsp;份，存證費&emsp;&emsp;&emsp;元，</li>
                    <li class="marginBack">加具副本&emsp;&emsp;&emsp;份，存證費&emsp;&emsp;&emsp;元，</li>
                  </ul>
                  <div>合計&emsp;&emsp;元。</div>
                </div>
                <div class="flexBottom">
                  <div>
                    <p>經&emsp;&emsp;&emsp;&emsp;郵局</p>
                    <p>年&emsp;&emsp;月&emsp;&emsp;日證明<span>正<br>副</span>本內容完全相同</p>
                  </div>
                  <div>
                    <div class="circleStamp">郵戳</div>
                  </div>
                  <div>
                    <p>經辦員</p>
                    <p>主管<span class="stamp">印</span></p>
                  </div>
                </div>
              </div>
              <div class="NoteBlock">
                <div>
                  <h2>備</h2>
                  <h2>註</h2>
                </div>
                <div>
                  <ul>
                    <li>一、</li>
                    <li>存證信函需送交郵局辦理證明手續後始有效，自交寄之日起由郵局保存之副本，於三年期滿後銷燬之。</li>
                  </ul>
                  <ul>
                    <li>二、</li>
                    <li style="flex: 1;margin-top: -5px;">在&emsp;頁&emsp;行第&emsp;格下 <span>塗改<br>增刪</span>&emsp;&nbsp;字<span class="stamp" style="margin-top: 2px;margin-right: 8px;">印</span></li>
                    <li style="width: 140px;margin-top: -8px;">
                      <p style="display: flex;align-items: center;">
                        (<span style="display: inline-block;font-size: 10px;text-align: center;">如有修改應填註本欄並蓋用<br>寄件人印章，但塗改增刪</span>)
                      </p>
                      <p style="font-size: 12px;">每頁至多不得逾二十字。</p>
                    </li>
                  </ul>
                  <ul>
                    <li>三、</li>
                    <li>每件一式三份，用不脫色筆或打字機複寫，或書寫後複印、影印，每格限書一字，色澤明顯、字跡端正。</li>
                  </ul>
                </div>
              </div>
              <div class="stampGrid">
                <div>黏</div>
                <div>貼</div>
                <div><p><span>郵</span><span>票</span><span>或</span></p><p><span>郵</span><span>資</span><span>券</span></p></div>
                <div>處</div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottomStamp">
          <div class="circleStamp">騎縫郵戳</div>
          <div class="circleStamp">騎縫郵戳</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  const staticPath = window.__static?window.__static+'/':'/static/';
  // const staticPath = '/static/';
  export default {
    name: 'print-page',
    data(){
      return{
        printData:[],
        staticPath
      }
    },
    mounted(){
      this.printData =JSON.parse(localStorage.getItem('printData'));
    },
    methods: {
    }
  }
</script>

<style>
  @page {
    size: A4;
    margin: 0;
  }
  .page{
    margin: auto;
    overflow: hidden;
      width: 210mm;
      height: 297mm;}
  .page .container{
    margin: auto;
    max-width: 180mm;}
  .page .stamp{
    display: inline-block;
    padding: 3px!important;
    vertical-align: middle;
    border: 1px solid #000;
    float: right;
    margin-top: -3px;;;;;}
  .page .circleStamp{
    display: flex;
    height: 65px;
    width: 65px;
    border: 1px dotted #000;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 12px;;;;;;;;;}
  .page h1{
    letter-spacing: 15px;
    text-align: center;
    padding: 20px 0;;;;}
  .page .mainFlex{
    display: flex;;}
  .page .remark{
    width: 45px;
    text-align: center;
    line-height: 2.5;;;;;;}
  .page .mainFrame{
    width: calc(100% - 45px);
    border: 1px solid #000;;}
  .page .mainFrame .header{
    display: flex;
    border-bottom: 1px solid #000;;;;}
  .page .mainFrame .header > div:first-child{
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    border-right: 1px solid #000;;;;}
  .page .mainFrame .header > div:first-child h4{
    margin-top: 32px;
    margin-right: 20px;;;}
  .page .mainFrame .header > div:last-child{
    width: calc(100% - 180px);
    font-size: 13px;
    line-height: 1.5;
    padding: 10px;;;;;;}
  .page .mainFrame .header > div:last-child div{
    font-size: 11px;;}
  .page .mainFrame .header ul{
    display: flex;;}
  .page .mainFrame .header ul li{}
  .page .mainFrame .header ul li:first-child{
    width: 100px;;}
  .page .mainFrame .header ul li:last-child{
    width: calc(100% - 100px);}
  .page .mainFrame .header span{
    display: inline-block;
    vertical-align: top;;;}
  .page .gridBlock{}
  .page .gridBlock span{
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid;
    border-bottom: 1px solid;;;;;;;;}
  .page .gridBlock .number span:nth-child(21n){
    border-right: 0;;}
  .page .gridBlock .content span:nth-child(20n){
    border-right: 0;;}
  .page .gridBlock .splash{
    font-size: 11px;
    position: relative;;;}
  .page .gridBlock .splash img{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .page .gridBlock .splash:before{
    content: '格';
    position: absolute;
    top: 2px;
    right: 2px;;;;}
  .page .gridBlock .splash:after{
    content: '行';
    position: absolute;
    bottom: 2px;
    left: 2px;;;;}
  .page .gridBlock .number{
    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;;;;;}
  .page .gridBlock .content{
    display: grid;
    grid: auto / 1fr 20fr;;;;}
  .page .gridBlock .content .side{}
  .page .gridBlock .content .grid{
    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
  .page .footer{
    display: grid;
    grid: auto / 3fr 1fr;;;;}
  .page .footer .priceBlock{
    grid-area: 1 / 1 / 2 / 2;
    font-size: 13px;
    border-right: 1px solid;
    border-bottom: 1px solid;;;;;}
  .page .footer .priceBlock .flexTop{
    display: flex;
    padding: 5px;;;}
  .page .footer .priceBlock .flexTop div{}
  .page .footer .priceBlock .flexTop ul{
    margin: 0;;}
  .page .footer .priceBlock .flexTop ul li{}
  .page .footer .priceBlock .flexTop ul li.marginBack{
    margin-left: -2em;;}
  .page .footer .priceBlock .flexTop div:first-child{}
  .page .footer .priceBlock .flexTop div:last-child{
    display: flex;
    align-items: flex-end;;}
  .page .footer .priceBlock .flexBottom{
    display: flex;
    padding: 14px 10px 14px 30px;
    line-height: 1.4;;;;}
  .page .footer .priceBlock .flexBottom > div{}
  .page .footer .priceBlock .flexBottom > div:nth-child(1){}
  .page .footer .priceBlock .flexBottom > div:nth-child(2){
    padding: 0px 5px;
    margin-top: -15px;;;}
  .page .footer .priceBlock .flexBottom > div:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;;;;;}
  .page .footer .priceBlock .flexBottom p{}
  .page .footer .priceBlock .flexBottom span{
    display: inline-block;
    vertical-align: middle;
    padding: 0 8px;;;}
  .page .footer .NoteBlock{
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    border-right: 1px solid;;}
  .page .footer .NoteBlock > div:first-child{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid;;;;}
  .page .footer .NoteBlock > div h2{
    font-size: 20px;;}
  .page .footer .NoteBlock > div:last-child{
    width: calc(100% - 50px);
    padding: 10px;;}
  .page .footer .NoteBlock ul{
    margin: 0 0 14px;
    display: flex;
    font-size: 13px;;;;;;}
  .page .footer .NoteBlock ul li:first-child{}
  .page .footer .NoteBlock ul li:last-child{;;}
  .page .footer .NoteBlock span{
    display: inline-block;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;;;;;}
  .page .footer .stampGrid{
    grid-area: 1 / 2 / 3 / 2;
    display: grid;
    grid: 1fr 1.5fr 1fr / 1fr 1fr;;;;}
  .page .footer .stampGrid div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid;;;;}
  .page .footer .stampGrid div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;}
  .page .footer .stampGrid div:nth-child(3){
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid;
    border-bottom: 1px solid;;;;;;;}
  .page .footer .stampGrid div:nth-child(4){
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid;}
  .page .footer .stampGrid div:nth-child(5){}
  .page .footer .stampGrid p{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0px;;;;}
  .page .bottomStamp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;;;}
  .page .bottomStamp .circleStamp{
    height: 100px;
    width: 100px;}
</style>
 