body{
	margin: 0;;}
ul,li{
	list-style: none;
	padding: 0;;;}
h1,h2,h3,h4,h5,p{
	margin: 0;;}
@page {
  size: A4;
  margin: 0;
}
.page{
	margin: auto;
	overflow: hidden;
    width: 210mm;
    height: 297mm;}
.page .container{
	margin: auto;
	max-width: 180mm;}
.page .stamp{
	display: inline-block;
	padding: 3px!important;
	vertical-align: middle;
	border: 1px solid #000;
	float: right;
	margin-top: -3px;;;;;}
.page .circleStamp{
	display: flex;
	height: 65px;
	width: 65px;
	border: 1px dotted #000;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	font-size: 12px;;;;;;;;;}
.page h1{
	letter-spacing: 15px;
	text-align: center;
	padding: 20px 0;;;;}
.page .mainFlex{
	display: flex;;}
.page .remark{
	width: 45px;
	text-align: center;
	line-height: 2.5;;;;;;}
.page .mainFrame{
	width: calc(100% - 45px);
	border: 1px solid #000;;}
.page .mainFrame .header{
	display: flex;
	border-bottom: 1px solid #000;;;;}
.page .mainFrame .header > div:first-child{
	width: 180px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	border-right: 1px solid #000;;;;}
.page .mainFrame .header > div:first-child h4{
	margin-top: 32px;
	margin-right: 20px;;;}
.page .mainFrame .header > div:last-child{
	width: calc(100% - 180px);
	font-size: 13px;
	line-height: 1.5;
	padding: 10px;;;;;;}
.page .mainFrame .header > div:last-child div{
	font-size: 11px;;}
.page .mainFrame .header ul{
	display: flex;;}
.page .mainFrame .header ul li{}
.page .mainFrame .header ul li:first-child{
	width: 100px;;}
.page .mainFrame .header ul li:last-child{
	width: calc(100% - 100px);}
.page .mainFrame .header span{
	display: inline-block;
	vertical-align: top;;;}
.page .gridBlock{}
.page .gridBlock span{
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid;
	border-bottom: 1px solid;;;;;;;;}
.page .gridBlock .number span:nth-child(21n){
	border-right: 0;;}
.page .gridBlock .content span:nth-child(20n){
	border-right: 0;;}
.page .gridBlock .splash{
	font-size: 11px;
	position: relative;;;}
.page .gridBlock .splash img{
	position: absolute;
	width: 100%;
	height: 100%;
}
.page .gridBlock .splash:before{
	content: '格';
	position: absolute;
	top: 2px;
	right: 2px;;;;}
.page .gridBlock .splash:after{
	content: '行';
	position: absolute;
	bottom: 2px;
	left: 2px;;;;}
.page .gridBlock .number{
	display: grid;
	grid: auto / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;;;;;}
.page .gridBlock .content{
	display: grid;
	grid: auto / 1fr 20fr;;;;}
.page .gridBlock .content .side{}
.page .gridBlock .content .grid{
	display: grid;
	grid: auto / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}
.page .footer{
	display: grid;
	grid: auto / 3fr 1fr;;;;}
.page .footer .priceBlock{
	grid-area: 1 / 1 / 2 / 2;
	font-size: 13px;
	border-right: 1px solid;
	border-bottom: 1px solid;;;;;}
.page .footer .priceBlock .flexTop{
	display: flex;
	padding: 5px;;;}
.page .footer .priceBlock .flexTop div{}
.page .footer .priceBlock .flexTop ul{
	margin: 0;;}
.page .footer .priceBlock .flexTop ul li{}
.page .footer .priceBlock .flexTop ul li.marginBack{
	margin-left: -2em;;}
.page .footer .priceBlock .flexTop div:first-child{}
.page .footer .priceBlock .flexTop div:last-child{
	display: flex;
	align-items: flex-end;;}
.page .footer .priceBlock .flexBottom{
	display: flex;
	padding: 14px 10px 14px 30px;
	line-height: 1.4;;;;}
.page .footer .priceBlock .flexBottom > div{}
.page .footer .priceBlock .flexBottom > div:nth-child(1){}
.page .footer .priceBlock .flexBottom > div:nth-child(2){
	padding: 0px 5px;
	margin-top: -15px;;;}
.page .footer .priceBlock .flexBottom > div:nth-child(3){
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex: 1;;;;;}
.page .footer .priceBlock .flexBottom p{}
.page .footer .priceBlock .flexBottom span{
	display: inline-block;
	vertical-align: middle;
	padding: 0 8px;;;}
.page .footer .NoteBlock{
	grid-area: 2 / 1 / 3 / 2;
	display: flex;
	border-right: 1px solid;;}
.page .footer .NoteBlock > div:first-child{
	width: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	border-right: 1px solid;;;;}
.page .footer .NoteBlock > div h2{
	font-size: 20px;;}
.page .footer .NoteBlock > div:last-child{
	width: calc(100% - 50px);
	padding: 10px;;}
.page .footer .NoteBlock ul{
	margin: 0 0 14px;
	display: flex;
	font-size: 13px;;;;;;}
.page .footer .NoteBlock ul li:first-child{}
.page .footer .NoteBlock ul li:last-child{;;}
.page .footer .NoteBlock span{
	display: inline-block;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;;;;;}
.page .footer .stampGrid{
	grid-area: 1 / 2 / 3 / 2;
	display: grid;
	grid: 1fr 1.5fr 1fr / 1fr 1fr;;;;}
.page .footer .stampGrid div:nth-child(1){
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid;;;;}
.page .footer .stampGrid div:nth-child(2){
	display: flex;
	align-items: center;
	justify-content: center;}
.page .footer .stampGrid div:nth-child(3){
	grid-area: 2 / 1 / 3 / 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top: 1px solid;
	border-bottom: 1px solid;;;;;;;}
.page .footer .stampGrid div:nth-child(4){
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid;}
.page .footer .stampGrid div:nth-child(5){}
.page .footer .stampGrid p{
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 10px 0px;;;;}
.page .bottomStamp{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding-top: 20px;;;}
.page .bottomStamp .circleStamp{
	height: 100px;
	width: 100px;}