<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'pdf-generator'
  }
</script>

<style>
  body{
  margin: 0;;}
  ul,li{
    list-style: none;
    padding: 0;;;}
  h1,h2,h3,h4,h5,p{
    margin: 0;;}
</style>
